<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - PetShop.Presentation</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-green">
        <div class="container-fluid d-flex justify-content-center">
          <a asp-action="Index" asp-controller="Home"
            class="btn text-white fs-3"
            aria-current="page"
            style="padding: 0%; margin: 0%"
            >Gemini</a>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
            @RenderBody()
    </div>

    <footer class="footer-class">
      <div class="container-fluid bg-green d-flex justify-content-center">
        <p class="mt-2 fs-5 text-white">All rights reserved to Gemini Petshop</p>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
